/* Los bordes comentados es para ver las filas y columnas */

body{
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.my-container {
    /* border: 1px solid green; */
}

.fila{
    /* border: 3px solid red; */
    justify-content: center;
    margin: 50px 20px;
}

.fila .Titulo{
    color: rgba(135, 135, 135);
    font-size: 30px;
    text-align: center;
}

.columna {
    text-align: center;
    margin: 50px;
    /* border: 3px dotted rgb(0, 4, 255); */
}

/* .card{
    width: 14rem;
    min-width: 14rem;
} */

.card:hover{
    background: #e7e6e598;
    cursor: pointer;   
    text-decoration: none;
}

.card-shadow{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.233);
}

.ico img{
    margin-top: 20px;
    width: 50%;
}