*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	text-decoration: none;
}

.pushbar{
	background: #000;
	color: #fff;
	padding: 20px;
}

.pushbar i{
	margin-left: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 40px;
	cursor: pointer;
}

.pushbar-menu a{
	text-align: center;
	display: block;
	color: #aaaaaa;
	padding: 20px 0;
	border-bottom: 1.5px solid rgba(112,112,112,.16);
	font-weight: 300;
	font-size: 18px;
	transition: .3s ease color;
}

.pushbar-menu a:hover{
	color: white;
	text-decoration: none;
}